@{
    ViewData["Title"] = "Xóa Đơn Hàng";
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}


<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Xóa Đơn Hàng</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-center align-items-center">
            <h6 class="m-0 font-weight-bold text-primary mr-auto">Danh sách danh mục</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="selectAll" /></th>
                            <th>Id</th>
                            <th>Id người dùng</th>
                            <th>Ngày đặt hàng</th>
                            <th>Tổng số tiền đơn hàng</th>
                            <th>Trạng thái của đơn hàng</th>
                            <th>Id phiếu giảm</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var orders in Model)
                        {
                            <tr>
                                <td><input type="checkbox" class="product-checkbox" value="@orders.Id" /></td>
                                <td>@orders.Id</td>
                                <td>@orders.UserId</td>
                                <td>@orders.OrderDate</td>
                                <td>@orders.TotalAmount</td>
                                <td>@orders.Status</td>
                                <td>@orders.CouponId</td>

                            </tr>
                        }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <button type="button" class="btn btn-primary" id="delete-selected">Xóa Đã Chọn</button>
    </div>
</div>