@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - furni</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/furni.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/furni.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/aranoz.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

            <div class="container">
                <a class="navbar-brand" href="index.html">Furni<span>.</span></a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsFurni">
                    <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                        <li>@Html.ActionLink(Localizer["home"].Value, "index", "Home", null, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Shop", "Index", "Shop", null, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("About us", "AboutUs", "Home", null, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Services", "Services", "Home", null, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Blog", "Blog", "Home", null, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>
                        <div class="dropdown">
                          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            @Thread.CurrentThread.CurrentUICulture.Name
                          </a> 

                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="?ui-culture=en">En</a></li>
                            <li><a class="dropdown-item" href="?ui-culture=vi">Vi</a></li>
                          </ul>
                        </div>
                    </ul>

                    <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                        <li><a class="nav-link" asp-area="Identity" asp-page="/Account/Login"><img src="~/images/user.svg"></a></li>
                        <li><a class="nav-link" asp-area="" asp-page="/Account/Login"><img src="~/images/cart.svg"></a></li>
                    </ul>
                </div>
            </div>

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - furni
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/furni.js" asp-append-version="true"></script>
    <script src="~/js/tini-slider.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
