@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}
<div class="container-fluid">

    <!-- Page Heading -->
    <h2 class="mt-3">Quản Lý Người Dùng</h2>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-center align-items-center">
            <h6 class="m-0 font-weight-bold text-primary mr-auto">Danh sách danh mục</h6>
           
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>TênNgườiDùng</th>
                            <th>TênNgườiDùngChuẩnHóa</th>
                            <th>Số điện thoại</th>
                            <th>Email</th>
                            <th>Email Chuẩn Hóa</th>
                            <th>Mật Khẩu Băm</th>
                            <th>Dấu Bảo Mậtl</th>
                            <th>Dấu Thời Gian Đồng Thời</th>
                            <th>Số Điện Thoại</th>
                            <th>Xác Nhận Số Điện Thoại</th>
                            <th>Kích Hoạt Hai Yếu Tố</th>
                            <th>Kết Thúc Khoá</th>
                            <th>Khoá Cho Phép</th>
                            <th>Số Lần Truy Cập Thất Bại</th>
                            <th>Họ</th>
                            <th>Tên</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>@user.Id</td>
                                <td>@user.UserName</td>
                                <td>@user.NormalizedUserName</td>
                                <td>@user.Email</td>
                                <td>@user.NormalizedEmail</td>
                                <td>@user.EmailConfirmed</td>
                                <td>@user.PasswordHash</td>
                                <td>@user.SecurityStamp</td>
                                <td>@user.ConcurrencyStamp</td>
                                <td>@user.PhoneNumber</td>
                                <td>@user.PhoneNumberConfirmed</td>
                                <td>@user.TwoFactorEnabled</td>
                                <td>@user.LockoutEnd</td>
                                <td>@user.LockoutEnabled</td>
                                <td>@user.AccessFailedCount</td>
                                <td>@user.FirstName</td>
                                <td>@user.LastName</td>

                            </tr>
                        }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>