<head>
    <style>
        .show {
            display: block; /* Hiển thị phần tử */
            visibility: visible; /* Hiển thị phần tử */
            opacity: 1; /* Đặt độ trong suốt cho phần tử */
        }

        .shop--detail .thumbnail:hover {
            cursor: pointer;
        }
        .fancybox__container *:empty {
            background: white !important;
        }

    </style>
          @Html.Raw("<link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css\" />")

</head>
<div class="shop--detail">
    <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1>@Localizer["Studio thiết kế"]<span clsas="d-block"> @Localizer["Nội thất hiện đại"]</span></h1>
                        <p class="mb-4">@Localizer["Cảm ơn bạn đã luôn ủng hộ chúng tôi, ở đây bạn có thể xem thông tin chi tiết các sản phẩm của cửa hàng chúng tôi."]</p>
                        <p><a href="" class="btn btn-secondary me-2">@Localizer["Mua ngay"]</a><a href="#" class="btn btn-white-outline">@Localizer["Khám phá"]</a></p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="hero-img-wrap">
                        <img src="/images/couch.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Hero Section -->
    <!--================Single Product Area =================-->
    <div class="product_image_area section_padding" id="para-detail" style="padding-bottom: 0px; padding-top: 100px">
        <div class="container">
            <div class="row s_product_inner justify-content-between">
                <div class="col-lg-7 col-xl-7 row d-flex" style="border: 2px solid #ccc; padding-top: 0px">
                    <div class="product_single_preview col-10">
                        <a data-fancybox="gallery"
                           data-src="@Model.ImageUrl">
                            <img src="@Model.ImageUrl" />
                        </a>
                    </div>
                    <div class="product_slider_img col-2 d-flex" style="flex-direction: column; justify-content: space-around">
                        <div class="thumbnail" style="border: 1px solid red;">
                            <img src="@Model.ImageUrl" />
                        </div>
                        <div class="thumbnail" style="border: 1px solid red;">
                            <img src="/images/product-2.png" />
                        </div>
                        <div class="thumbnail" style="border: 1px solid red;">
                            <img src="/images/product-3.png" />
                        </div>
                        <div class="thumbnail" style="border: 1px solid red;">
                            <img src="/images/product-1.png" />
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-xl-4">
                    <div class="s_product_text">
                        <h3>@Model.Name</h3>
                        <h2>@Model.Price.ToString("#,##0 đ")</h2>
                        <ul class="list">
                            <li>
                                <a class="active" href="#" style="text-decoration: none; font-weight: 500; font-size: 16px">
                                    <span style="font-size: 16px; font-weight: 500">@Localizer["Loại"]</span> : @Model.Category.Name
                                </a>
                            </li>
                            <li>
                                <a class="active" href="#" style="text-decoration: none; font-weight: 500; font-size: 16px">
                                    <span style="font-size: 16px; font-weight: 500">@Localizer["Khả dụng"]</span> : @Localizer["Trong kho"]
                                </a>
                            </li>
                            <li>

                                <a class="active" href="#" style="text-decoration: none; font-weight: 500" ; font-size: 16px>
                                    <span style="font-size: 16px; font-weight: 500">@Localizer["Bảo hành"]</span> : @Model.Specification.FreshnessDuration @Localizer["Năm"]
                                </a>
                            </li>
                        </ul>
                        <p>
                            @Localizer["Tận hưởng những phút giây bên gia đình bằng những chiếc ghế êm ái, đầy sang trọng trong tổ ấm của bạn."]
                        </p>
                        <div class="card_area d-flex justify-content-between align-items-center">
                            <div class="product_count">
                                <span class="inumber-decrement" style="cursor: pointer;">
                                    <i class="ti-minus fa-solid fa-minus"></i>
                                </span>
                                <input id="externalQuantity" class="input-number" type="text" value="1" min="1" max="10" style="background-color: #f0f2f1;" />
                                <span class="number-increment" style="cursor: pointer;">
                                    <i class="ti-plus fa-duotone fa-plus" style="font-size: 20px;"></i>
                                </span>

                            </div>
                            <form id="addToCartForm" asp-controller="Cart" asp-action="AddToCart" method="post">
                                <input type="hidden" name="productId" value="@Model.Id" />
                                <input id="formQuantity" type="hidden" name="quantity" value="1" min="1" />
                                <button class="btn_3" type="submit">@Localizer["Thêm vào giỏ hàng"]</button>
                            </form>


                            @* <a href="#" class="btn_3" style="text-decoration: none;">Thêm vào giỏ hàng</a> *@
                            @*  <a href="#" class="like_us">
                        <i class="ti-heart fa-regular fa-heart"></i>
                    </a> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================End Single Product Area =================-->
    <!--================Product Description Area =================-->
    <section class="product_description_area">
        <div class="container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link"
                       id="home-tab"
                       data-toggle="tab"
                       href="#home"
                       role="tab"
                       aria-controls="home"
                       aria-selected="true">@Localizer["Mô tả"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       id="profile-tab"
                       data-toggle="tab"
                       href="#profile"
                       role="tab"
                       aria-controls="profile"
                       aria-selected="false">@Localizer["Chi tiết"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       id="contact-tab"
                       data-toggle="tab"
                       href="#contact"
                       role="tab"
                       aria-controls="contact"
                       aria-selected="false">@Localizer["Bình luận"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"
                       id="review-tab"
                       data-toggle="tab"
                       href="#review"
                       role="tab"
                       aria-controls="review"
                       aria-selected="false">@Localizer["Tổng quan"]</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade"
                     id="home"
                     role="tabpanel"
                     aria-labelledby="home-tab">
                    <p>
                        "@Model.Name @Localizer["mang lại sự kết hợp hoàn hảo giữa phong cách hiện đại và tính năng tiện lợi. Với thiết kế gọn gàng và sự chăm chút tỉ mỉ trong từng chi tiết, sản phẩm này không chỉ cung cấp một không gian làm việc lý tưởng mà còn nâng cao vẻ đẹp thẩm mỹ cho mọi nơi đặt nó. Bàn được trang bị kệ để đồ ngăn nắp, giúp bạn tổ chức không gian sống và làm việc một cách khoa học và gọn gàng hơn. Bên cạnh đó, chất liệu cao cấp đảm bảo sự bền bỉ và dễ dàng vệ sinh là điểm cộng lớn. 'Mowism UA' không chỉ là một món đồ nội thất, mà còn là người bạn đồng hành đáng tin cậy trong mọi khoảnh khắc làm việc và sáng tạo của bạn."]"
                    </p>
                    <p>
                        @Localizer["Nó mang lại sự kết hợp hoàn hảo giữa phong cách hiện đại và tính năng tiện lợi. Với thiết kế gọn gàng và sự chăm chút tỉ mỉ trong từng chi tiết, sản phẩm này không chỉ cung cấp một không gian làm việc lý tưởng mà còn nâng cao vẻ đẹp thẩm mỹ cho mọi nơi đặt nó. Bàn được trang bị kệ để đồ ngăn nắp, giúp bạn tổ chức không gian sống và làm việc một cách khoa học và gọn gàng hơn. Bên cạnh đó, chất liệu cao cấp đảm bảo sự bền bỉ và dễ dàng vệ sinh là điểm cộng lớn. 'Mowism UA' không chỉ là một món đồ nội thất, mà còn là người bạn đồng hành đáng tin cậy trong mọi khoảnh khắc làm việc và sáng tạo của bạn."]
                    </p>
                </div>
                <div class="tab-pane fade"
                     id="profile"
                     role="tabpanel"
                     aria-labelledby="profile-tab">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <h5>@Localizer["Độ rộng"]</h5>
                                    </td>
                                    <td>
                                        <h5>@Model.Specification.Width</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>@Localizer["Chiều cao"]</h5>
                                    </td>
                                    <td>
                                        <h5>@Model.Specification.Height</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>@Localizer["Chiều sâu"]</h5>
                                    </td>
                                    <td>
                                        <h5>@Model.Specification.Depth</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>@Localizer["Khối lượng"]</h5>
                                    </td>
                                    <td>
                                        <h5>@Model.Specification.Weight kg</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>@Localizer["Chất lượng"]</h5>
                                    </td>
                                    <td>
                                        <h5>@(Model.Specification.QualityChecking ? "Tốt" : "Không tốt")</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>@Localizer["Bảo hành"]</h5>
                                    </td>
                                    <td>
                                        <h5>@Model.Specification.FreshnessDuration năm</h5>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade"
                     id="contact"
                     role="tabpanel"
                     aria-labelledby="contact-tab">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="comment_list">
                                <div class="review_item">
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="/img/product/single-product/review-1.png"
                                                 alt="" />
                                        </div>
                                        <div class="media-body">
                                            <h4>Blake Ruiz</h4>
                                            <h5>
                                                12th Feb, 2017 at 05:56 pm
                                            </h5>
                                            <a class="reply_btn" href="#">@Localizer["Hồi đáp"]</a>
                                        </div>
                                    </div>
                                    <p>
                                        ""@Model.Name @Localizer["mang lại sự kết hợp hoàn hảo giữa phong cách hiện đại và tính năng tiện lợi. Với thiết kế gọn gàng và sự chăm chút tỉ mỉ trong từng chi tiết, sản phẩm này không chỉ cung cấp một không gian làm việc lý tưởng mà còn nâng cao vẻ đẹp thẩm mỹ cho mọi nơi đặt nó. Bàn được trang bị kệ để đồ ngăn nắp, giúp bạn tổ chức không gian sống và làm việc một cách khoa học và gọn gàng hơn. Bên cạnh đó, chất liệu cao cấp đảm bảo sự bền bỉ và dễ dàng vệ sinh là điểm cộng lớn. 'Mowism UA' không chỉ là một món đồ nội thất, mà còn là người bạn đồng hành đáng tin cậy trong mọi khoảnh khắc làm việc và sáng tạo của bạn."]"
                                    </p>
                                </div>
                                <div class="review_item reply">
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="/img/product/single-product/review-2.png"
                                                 alt="" />
                                        </div>
                                        <div class="media-body">
                                            <h4>Blake Ruiz</h4>
                                            <h5>
                                                12th Feb, 2017 at 05:56 pm
                                            </h5>
                                            <a class="reply_btn" href="#">@Localizer["Hồi đáp"]</a>
                                        </div>
                                    </div>
                                    <p>
                                        "@Model.Name @Localizer["mang lại sự kết hợp hoàn hảo giữa phong cách hiện đại và tính năng tiện lợi. Với thiết kế gọn gàng và sự chăm chút tỉ mỉ trong từng chi tiết, sản phẩm này không chỉ cung cấp một không gian làm việc lý tưởng mà còn nâng cao vẻ đẹp thẩm mỹ cho mọi nơi đặt nó. Bàn được trang bị kệ để đồ ngăn nắp, giúp bạn tổ chức không gian sống và làm việc một cách khoa học và gọn gàng hơn. Bên cạnh đó, chất liệu cao cấp đảm bảo sự bền bỉ và dễ dàng vệ sinh là điểm cộng lớn. 'Mowism UA' không chỉ là một món đồ nội thất, mà còn là người bạn đồng hành đáng tin cậy trong mọi khoảnh khắc làm việc và sáng tạo của bạn."]"
                                    </p>
                                </div>
                                <div class="review_item">
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="/img/product/single-product/review-3.png"
                                                 alt="" />
                                        </div>
                                        <div class="media-body">
                                            <h4>Blake Ruiz</h4>
                                            <h5>
                                                12th Feb, 2017 at 05:56 pm
                                            </h5>
                                            <a class="reply_btn" href="#">@Localizer["Hồi đáp"]</a>
                                        </div>
                                    </div>
                                    <p>
                                        "@Model.Name @Localizer["mang lại sự kết hợp hoàn hảo giữa phong cách hiện đại và tính năng tiện ích. Với thiết kế gọn gàng và sự chăm chút tỉ mỉ trong từng chi tiết, sản phẩm này không chỉ cung cấp một không gian làm việc lý tưởng mà còn nâng cao vẻ đẹp thẩm mỹ cho mọi nơi đặt nó."]
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="review_box">
                                <h4>@Localizer["Đăng một nhận xét"]</h4>
                                <form class="row contact_form"
                                      action="contact_process.php"
                                      method="post"
                                      id="contactForm"
                                      novalidate="novalidate">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text"
                                                   class="form-control"
                                                   id="name"
                                                   name="name"
                                                   placeholder="@Localizer["Tên của bạn"]" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="email"
                                                   class="form-control"
                                                   id="email"
                                                   name="email"
                                                   placeholder="@Localizer["Địa chỉ email"]" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text"
                                                   class="form-control"
                                                   id="number"
                                                   name="number"
                                                   placeholder="@Localizer["Số điện thoại"]" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input class="form-control"
                                                   name="message"
                                                   id="message"
                                                   rows="1"
                                                   placeholder="@Localizer["Tin nhắn"]" />
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-right" style="margin-top: 20px;">
                                        <button type="submit"
                                                value="submit"
                                                class="btn_3">
                                            @Localizer["Xác Nhận"]
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show active"
                     id="review"
                     role="tabpanel"
                     aria-labelledby="review-tab">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row total_rate">
                                <div class="col-6">
                                    <div class="box_total">
                                        <h5>@Localizer["Đánh giá sản phẩm"]</h5>
                                        <h4>4.0</h4>
                                        <h6>(03 Đánh giá)</h6>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="rating_list">
                                        <h3>@Localizer["Dựa trên 3 đánh giá"]</h3>
                                        <ul class="list">
                                            <li>
                                                <a href="#">
                                                    5 Star
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    01
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    4 Star
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    01
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    3 Star
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    01
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    2 Star
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    01
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    1 Star
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    01
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="review_list">
                                <div class="review_item">
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="/img/product/single-product/review-1.png"
                                                 alt="" />
                                        </div>
                                        <div class="media-body">
                                            <h4>Jack</h4>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <p>
                                        @Localizer["Sản phẩm này rất tốt với túi tiền của tôi"]
                                    </p>
                                </div>
                                <div class="review_item">
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="/img/product/single-product/review-2.png"
                                                 alt="" />
                                        </div>
                                        <div class="media-body">
                                            <h4>Trịnh Trần Phương Tuấn</h4>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <p>
                                        @Localizer["Sản phẩn đẹp và chất lượng"]
                                    </p>
                                </div>
                                <div class="review_item">
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="/img/product/single-product/review-3.png"
                                                 alt="" />
                                        </div>
                                        <div class="media-body">
                                            <h4>J97</h4>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <p>
                                        @Localizer["Sản phẩm này thật sự tuyệt"]
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="review_box">
                                <h4>@Localizer["Thêm 1 đánh giá"]</h4>
                                <p>@Localizer["Đánh giá của bạn:"]</p>
                                <ul class="list">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-star"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-star"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-star"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-star"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-star"></i>
                                        </a>
                                    </li>
                                </ul>
                                <p>@Localizer["Nổi bật"]</p>
                                <form class="row contact_form"
                                      action="contact_process.php"
                                      method="post"
                                      novalidate="novalidate">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text"
                                                   class="form-control"
                                                   name="name"
                                                   placeholder="@Localizer["Tên của bạn"]" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="email"
                                                   class="form-control"
                                                   name="email"
                                                   placeholder="@Localizer["Địa chỉ email"]" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text"
                                                   class="form-control"
                                                   name="number"
                                                   placeholder="@Localizer["Số điện thoại"]" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input class="form-control"
                                                   name="message"
                                                   rows="1"
                                                   placeholder="@Localizer["Giới thiệu"]" />
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-right" style="margin-top: 20px">
                                        <button type="submit"
                                                value="submit"
                                                class="btn_3">
                                            @Localizer["Đánh giá ngay"]
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>//clikc ảnh
    $(document).ready(function () {
        $(".thumbnail").click(function () {
            var imgUrl = $(this).find("img").attr("src");
            $("#preview_img").attr("src", imgUrl);
        });
    });



    // Tăng số lượng
    document.querySelector('.number-increment').addEventListener('click', function () {
        var input = document.getElementById('externalQuantity');
        var currentValue = parseInt(input.value, 10);
        var maxValue = parseInt(input.max, 10);
        if (currentValue < maxValue) {
            input.value = currentValue + 1;
        }
    });

    // Giảm số lượng
    document.querySelector('.inumber-decrement').addEventListener('click', function () {
        var input = document.getElementById('externalQuantity');
        var currentValue = parseInt(input.value, 10);
        var minValue = parseInt(input.min, 10);
        if (currentValue > minValue) {
            input.value = currentValue - 1;
        }
    });

    //KHông chuyển trang
    document.getElementById("addToCartForm").addEventListener("submit", function (event) {
        event.preventDefault(); // Ngăn chặn chuyển trang mặc định của form

        // Cập nhật giá trị của input formQuantity trước khi tạo FormData
        var externalQuantityValue = document.getElementById("externalQuantity").value;
        document.getElementById("formQuantity").value = externalQuantityValue;

        var form = this;
        var formData = new FormData(form); // Lấy dữ liệu của form sau khi đã cập nhật giá trị mới

        // Sử dụng XMLHttpRequest để gửi dữ liệu form đến action của controller
        var xhr = new XMLHttpRequest();
        xhr.open(form.method, form.action, true);
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {

                    var itemCountElement = document.getElementById('cart-item');
                    var currentCount = parseInt(itemCountElement.textContent) || 0;
                    var addedQuantity = parseInt(document.getElementById('externalQuantity').value);
                    var newCount = currentCount + addedQuantity;

                    itemCountElement.textContent = newCount; // Cập nhật UI
                    swal("@Localizer["Thông báo"]", "@Localizer["Thêm vào giỏ hàng thành công!"]", "success");
                    document.getElementById("externalQuantity").value = 1;
                    console.log("Tiệp nè hihi");
                } else {
                    // Xử lý lỗi nếu có
                    console.error('@Localizer["Đã xảy ra lỗi: "]' + xhr.status);
                }
            }
        };
        xhr.send(formData);
    });</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@Html.Raw("<script src=\"https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js\"></script>")
<script>Fancybox.bind('[data-fancybox="gallery"]', {
        //
    });</script>
<script>
    $(document).ready(function () {
        // Khi một thumbnail được click
        $(".thumbnail img").on("click", function () {
            // Lấy đường dẫn của ảnh thumbnail được click
            var newSrc = $(this).attr("src");

            // Cập nhật đường dẫn của ảnh lớn với đường dẫn mới
            $(".product_single_preview img").attr("src", newSrc);

            // Cập nhật data-src của Fancybox để nó mở ảnh mới khi được click
            $(".product_single_preview a").attr("data-src", newSrc);
        });
    });
</script>
