
@model ProductViewModel

<head>
    <style>
        .shop-showproduct .dropdown--show__product {
            min-width: 15em;
            position: relative;
            margin-bottom: 5px;
        }

        .shop-showproduct .p_filter_widgets .list li {
            margin-bottom: 0px;
        }

        .shop-showproduct .dropdown--show__product * {
            box-sizing: border-box;
        }

        .shop-showproduct .dropdown--show__product .select {
            width: 85%;
            background-color: #fff;
            color: #2f2727;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 2px #d8dad9 solid;
            border-radius: 4px;
            padding: 5px;
            padding-left: 20px;
            cursor: pointer;
            transition: background 0.3s;
        }

        .shop-showproduct .dropdown--show__product .select-clicked {
            box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.1);
        }

        .shop-showproduct .dropdown--show__product .select:hover {
            background-color: #ede4e4;
        }

        .shop-showproduct .dropdown--show__product .caret {
            height: 0;
            width: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 6px solid #cd6262;
            transition: 0.3s;
        }

        .shop-showproduct .dropdown--show__product .caret-rotate {
            transform: rotate(180deg);
        }

        .shop-showproduct .dropdown--show__product .menu {
            list-style: none;
            padding: 0.2em 0.5em;
            background-color: #e7effd;
            box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
            border-radius: 0.5em;
            color: #9fa5b5;
            transform: translateX(1%);
            opacity: 0;
            display: none;
            transition: 0.2s;
            z-index: 1;
        }

            .shop-showproduct .dropdown--show__product .menu li {
                user-select: none;
                padding: 5px 20px;
                display: block;
                margin: 0.3em 0;
                border-radius: 0.5em;
                cursor: pointer;
            }

                .shop-showproduct .dropdown--show__product .menu li:hover {
                    background-color: #b8cdf1;
                }

        .shop-showproduct .dropdown--show__product .active {
            background-color: #ede4e4
        }

        .shop-showproduct .dropdown--show__product .menu-open {
            width: 83%;
            display: block;
            opacity: 1;
        }

        .shop-showproduct .left_sidebar_area .widgets_inner ul > li:hover > a {
            color: #100236;
        }

        .shop-showproduct .widgets_inner ul {
            padding-left: 0px
        }
    </style>

</head>
<!-- End Header/Navigation -->
<!-- Start Hero Section -->
<div class="shop-showproduct">
    <div class="hero">
        <div class="container">
            <div class="row justify-content-between"> 
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1>@Localizer["Thiết Kế"]<span class="d-block">@Localizer["Hiện Đại"]</span></h1>
                        <p class="mb-4">@Localizer["Nơi Sự Sáng Tạo Không Giới Hạn Biến Mỗi Không Gian Sống Trở Nên Độc Đáo Và Đầy Cảm Hứng."]</p>
                        <p><a href="" class="btn btn-secondary me-2">@Localizer["Mua ngay"]</a><a href="#" class="btn btn-white-outline">@Localizer["Khám phá"]</a></p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="hero-img-wrap">
                        <img src="/images/couch.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Hero Section -->
    <!--================Category Product Area =================-->
    <section class="cat_product_area section_padding" id="para-show">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="left_sidebar_area">
                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>@Localizer["DANH MỤC SẢN PHẨM"]</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                  

                                    @foreach (var category in Model.ParentCategory)
                                    {
                                        <li>
                                            <div class="dropdown--show__product">
                                                <div class="select">
                                                    <span class="selected"><a style="display: block; width: 100%" href="@Url.Action("ShowProduct", "Shop", new { categoryId = category.Id })">@category.Name</a></span>@**@
                                                    <div class="caret"></div>
                                                </div>
                                                <ul class="menu">
                                                    @foreach (var child in Model.ChildCategories.Where(c => c.ParentId == category.Id))
                                                    {
                                                        <li><a style="display: block; width: 100%" href="@Url.Action("ShowProduct", "Shop", new { categoryId = child.Id })">@child.Name</a></li>
                                                    }
                                                </ul>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>

                        </aside>

                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>@Localizer["Lọc sản phẩm"]</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    <li>
                                        <div class="dropdown--show__product">
                                            <div class="select">
                                                <span class="selected">@Localizer["Vega"]</span>
                                                <div class="caret"></div>
                                            </div>
                                            <ul class="menu">
                                                <li>@Localizer["Mục 1"]</li>
                                                <li>@Localizer["Mục 2"]</li>
                                                <li>@Localizer["Mục 3"]</li>
                                                <li>@Localizer["Mục 4"]</li>
                                                <li>@Localizer["Mục 5"]</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="dropdown--show__product">
                                            <div class="select">
                                                <span class="selected">@Localizer["Steal bar"]</span>
                                                <div class="caret"></div>
                                            </div>
                                            <ul class="menu">
                                                <li>@Localizer["Mục 1"]</li>
                                                <li>@Localizer["Mục 2"]</li>
                                                <li>@Localizer["Mục 3"]</li>
                                                <li>@Localizer["Mục 4"]</li>
                                                <li>@Localizer["Mục 5"]</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="dropdown--show__product">
                                            <div class="select">
                                                <span class="selected">@Localizer["New"]</span>
                                                <div class="caret"></div>
                                            </div>
                                            <ul class="menu">
                                                <li>@Localizer["Mục 1"]</li>
                                                <li>@Localizer["Mục 2"]</li>
                                                <li>@Localizer["Mục 3"]</li>
                                                <li>@Localizer["Mục 4"]</li>
                                                <li>@Localizer["Mục 5"]</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="dropdown--show__product">
                                            <div class="select">
                                                <span class="selected">@Localizer["Japan"]</span>
                                                <div class="caret"></div>
                                            </div>
                                            <ul class="menu">
                                                <li>@Localizer["Mục 1"]</li>
                                                <li>@Localizer["Mục 2"]</li>
                                                <li>@Localizer["Mục 3"]</li>
                                                <li>@Localizer["Mục 4"]</li>
                                                <li>@Localizer["Mục 5"]</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="dropdown--show__product">
                                            <div class="select">
                                                <span class="selected">@Localizer["Tia table"]</span>
                                                <div class="caret"></div>
                                            </div>
                                            <ul class="menu">
                                                <li>@Localizer["Mục 1"]</li>
                                                <li>@Localizer["Mục 2"]</li>
                                                <li>@Localizer["Mục 3"]</li>
                                                <li>@Localizer["Mục 4"]</li>
                                                <li>@Localizer["Mục 5"]</li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </aside>

                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>@Localizer["Chất liệu"]</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    <li>
                                        <div class="dropdown--show__product">
                                            <div class="select">
                                                <span class="selected">@Localizer["Gỗ Ash(sồi)"]</span>
                                                <div class="caret"></div>
                                            </div>
                                            <ul class="menu">
                                                <li>@Localizer["Mục 1"]</li>
                                                <li>@Localizer["Mục 2"]</li>
                                                <li>@Localizer["Mục 3"]</li>
                                                <li>@Localizer["Mục 4"]</li>
                                                <li>@Localizer["Mục 5"]</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="dropdown--show__product">
                                            <div class="select">
                                                <span class="selected">@Localizer["Gỗ óc chó"]</span>
                                                <div class="caret"></div>
                                            </div>
                                            <ul class="menu">
                                                <li>@Localizer["Mục 1"]</li>
                                                <li>@Localizer["Mục 2"]</li>
                                                <li>@Localizer["Mục 3"]</li>
                                                <li>@Localizer["Mục 4"]</li>
                                                <li>@Localizer["Mục 5"]</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="dropdown--show__product">
                                            <div class="select">
                                                <span class="selected">@Localizer["Đá"]</span>
                                                <div class="caret"></div>
                                            </div>
                                            <ul class="menu">
                                                <li>@Localizer["Mục 1"]</li>
                                                <li>@Localizer["Mục 2"]</li>
                                                <li>@Localizer["Mục 3"]</li>
                                                <li>@Localizer["Mục 4"]</li>
                                                <li>@Localizer["Mục 5"]</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="dropdown--show__product">
                                            <div class="select">
                                                <span class="selected">@Localizer["Sơn dầu"]</span>
                                                <div class="caret"></div>
                                            </div>
                                            <ul class="menu">
                                                <li>@Localizer["Mục 1"]</li>
                                                <li>@Localizer["Mục 2"]</li>
                                                <li>@Localizer["Mục 3"]</li>
                                                <li>@Localizer["Mục 4"]</li>
                                                <li>@Localizer["Mục 5"]</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="dropdown--show__product">
                                            <div class="select">
                                                <span class="selected">@Localizer["Tĩnh điện"]</span>
                                                <div class="caret"></div>
                                            </div>
                                            <ul class="menu">
                                                <li>@Localizer["Mục 1"]</li>
                                                <li>@Localizer["Mục 2"]</li>
                                                <li>@Localizer["Mục 3"]</li>
                                                <li>@Localizer["Mục 4"]</li>
                                                <li>@Localizer["Mục 5"]</li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </aside>

                        @* <aside class="left_widgets p_filter_widgets price_rangs_aside">
                            <div class="l_w_title">
                                <h3>Price Filter</h3>
                            </div>
                            <div class="widgets_inner">
                                <div class="range_item">
                                    <!-- <div id="slider-range"></div> -->
                                    <input type="text" class="js-range-slider" value="" />
                                    <div class="d-flex">
                                        <div class="price_text">
                                            <p>Price :</p>
                                        </div>
                                        <div class="price_value d-flex justify-content-center">
                                            <input type="text" class="js-input-from" id="amount" readonly />
                                            <span>to</span>
                                            <input type="text" class="js-input-to" id="amount" readonly />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside> *@
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product_top_bar d-flex justify-content-between align-items-center">
                                <div class="single_product_menu" >
                                    <p style="margin-bottom: 0px"><span>@Model.TotalProduct </span>@Localizer["Sản phẩm được tìm thấy"]</p>
                                </div>
                                @*< div class="single_product_menu d-flex" style="align-items: baseline">
                                    <h5>@Localizer["Xếp"] : </h5>
                                    <select style="margin-left: 10px">
                                        <option data-display="Select">@Localizer["Tên"]</option>
                                        <option value="1">@Localizer["Giá tiền"]</option>
                                        <option value="2">@Localizer["Sản phẩm"]</option>
                                    </select>
                                </div> *@
                                <div class="single_product_menu d-flex">
                                    <h5 style="line-height: 1.5">@Localizer["Hiện"] :</h5>
                                    <div class="top_pageniation">
                                        <ul style="padding-bottom: 0px; margin-bottom: 0px; padding-left: 10px;margin-left: 0px">
                                            @for (int i = 1; i <= Model.TotalPages; i++)
                                            {
                                                <li><a href="@Url.Action("ShowProduct", new { pageNumber = i })">@i</a></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                                <div class="single_product_menu d-flex">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="@Localizer["Tìm kiếm"]"
                                               aria-describedby="inputGroupPrepend" style="border-bottom-left-radius: 10px; border-top-left-radius: 10px; ">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrepend" style="border-bottom-right-radius: 10px; border-top-right-radius: 10px;-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2); height: 100%">
                                                <i class="fa-solid fa-magnifying-glass"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @for (int i = 0; i < 1; i++)
                    {
                        <div class="row product-section">

                            @foreach (var product in Model.Products)
                            {
                                <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0" style="padding-top: 30px">
                                    <a class="product-item" href="@Url.Action("Detail", "Shop", new { id = product.Id })">
                                        <img src="@product.ImageUrl" class="img-fluid product-thumbnail" style="min-height: 219px">
                                        <h3 class="product-title" style="min-height: 40px">@product.Name</h3>
                                        <strong class="product-price" style="color: #c72e2e;">@product.Price.ToString("#,##0 đ")</strong>
                                        <span class="icon-cross">
                                            <img src="/images/cross.svg" class="img-fluid">
                                        </span>
                                    </a>
                                </div>
                            }
                        </div>
                    }

                </div>
            </div>
        </div>
</section>
    <!--================End Category Product Area =================-->
    <!-- product_list part start-->
    <section class="product_list best_seller">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section_tittle text-center">
                        <h2>@Localizer["Sản phẩm bán chạy"]<span>shop</span></h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-12">
                    <div class="best_product_slider row">

                        <div class="single_product_item col-lg-3">
                            <img src="/images/product-1.png" alt="" />
                            <div class="single_product_text">
                                <h4>@Localizer["Ghế ăn"]</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>


                        <div class="single_product_item col-lg-3">
                            <img src="/images/product-2.png" alt="" />
                            <div class="single_product_text">
                                <h4>@Localizer["Ghế bar"]</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                        <div class="single_product_item col-lg-3">
                            <img src="/images/product-3.png" alt="" />
                            <div class="single_product_text">
                                <h4>@Localizer["Ghế băng"]</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                        <div class="single_product_item col-lg-3">
                            <img src="/images/product-1.png" alt="" />
                            <div class="single_product_text">
                                <h4>@Localizer["Ghế gỗ óc chó"]</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>                     
                    </div>
                </div>
            </div>
        </div>

    </section>



</div>


