@model IEnumerable<furni.Areas.Admin.Models.ProductModel>

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-center align-items-center">
            <h6 class="m-0 font-weight-bold text-primary mr-auto">Danh sách sản phẩm</h6>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataProductTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên sản phẩm</th>
                            <th>image</th>
                            <th>Mô tả</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            @*<th>Loại</th>*@

                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var product in Model)
                        {
                            <tr>
                                <td>@product.Id</td>
                                <td>@product.Name</td>
                                <td><img src="https://i.imgur.com/@(product.ImageUrl.Split('/').Last()).jpg" loading="lazy" width="200" height="150" /></td>
                                <td>@product.Description</td>
                                <td>@product.Price</td>
                                <td>@product.StockQuantity</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#dataProductTable").DataTable();
        })
    </script>
}